@font-face {
    font-family: 'OpinionPro';
    src: url('./fonts/Opinionprolight.woff2') format('woff2'),
    url('./fonts/Opinionprolight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container-calculator {
    font-family: 'OpinionPro', Arial, sans-serif;
    font-weight: 300;
    font-size: 28px;
    color: black;
}

.container-calculator {
    border: 1px solid red;
    display: grid;
    grid-template-rows: 4fr 1fr;
}

.container {
    border: 1px solid blue;
    display: grid;
    /*grid-template-rows: 50% 50%;*/
    grid-template-columns: 30% 70%;
}

.calculator {
    display: grid;
    justify-items: center;
}

.calculator-text {
    text-align: center;
}

.calculator__select {
    border: 1px solid;
    border-radius: 5px;
    height: 25px;
    margin: 5px;
}

.calculator__input {
    display: grid;
    grid-template-columns: 75%;
    /*grid-auto-rows: 60% 60%;*/
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.size-value__text {
    border: 1px solid;
    border-radius: 5px;
    height: 25px;
    margin: 5px;
}

.output-drawing {
    background: green;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 10% 90%;
    justify-items: center;
    align-items: center;
    overflow: hidden;
}

.output-image {
    background: gold;
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 100%;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;

}

.output-image__image {
    width: 100%;
    height: 100%;
    background: url("./image/9.gif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-x: 50%;
    position: relative;
    /*animation: rotate 1s 1s infinite linear;*/
}

.output-image__image--reverse {
    /*animation: rotate-reverse 1s 1s infinite linear ;*/
}

@keyframes rotate {
    from{
        transform: rotateZ(0deg);
    }

    to{
        transform: rotateZ(360deg);
    }
}

@keyframes rotate-reverse {
    from{
        transform: rotateZ(45deg);
    }

    to{
        transform: rotateZ(-315deg);
    }
}

.output-value {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    border: 1px solid gold;
}

.output-value__icon {
    display: flex;
    /*grid-template-columns: repeat(3,1fr);*/
    align-items: center;
    justify-items: center;
}

[data-outputValue] {
    margin: 5px;
}

@media only screen and (max-width: 800px) {
    .container-calculator {
        grid-template-rows: 2fr 1fr;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .output-drawing {
        display: none;
    }

    .output-value {
        grid-template-columns: 1fr;
    }
}

.x {
    /*display: inline-flex;*/
    /*height: 50%;*/

    /*display: grid;*/
    /*grid-template-columns: repeat(12, 1fr);*/

    display: flex;
    flex-direction: row;
}

.output-image__line-width {
    display: inline-block;
    vertical-align: middle;
    height: 24px;
}

.output-image__line-width--left {
    background: url("./image/lineWidthtLeft.png");
    background-repeat: no-repeat;
    background-size: 100% 22px;
    border-left: 1.5px solid black;
}

.output-image__line-width--right {
    background: url("./image/lineWidthtRight.png");
    background-repeat: no-repeat;
    background-size: 100% 22px;
    border-right: 1.5px solid black;
}

.output-image__width {
    display: inline-block;
}


.output-image__line-height{
    /*display: block;*/
    /*outline: 1px solid black;*/
    /*vertical-align: middle;*/
    width: 24px;

}

.output-image__line-height--up {
    background: url("./image/lineHeightUp.png");
    background-repeat: no-repeat;
    background-size: 24px;
    border-top: 1.5px solid black;
}

.output-image__line-height--down {
    background: url("./image/lineHeightUp.png");
    background-repeat: no-repeat;
    background-size: 24px;
    transform: rotateZ(180deg);
    border-top: 1.5px solid black;
}

.container-line-height{
    display: grid;
    justify-items: center;
}