@font-face {
    font-family: 'OpinionPro';
    src: url('./fonts/Opinionprolight.woff2') format('woff2'),
    url('./fonts/Opinionprolight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container-calculator {
    font-family: 'OpinionPro', Arial, sans-serif;
    font-weight: 300;
    font-size: 28px;
    color: black;
}

.container-calculator {
    border: 1px solid red;
    display: grid;
    grid-template-rows: 4fr 1fr;
}

.container {
    border: 1px solid blue;
    display: grid;
    /*grid-template-rows: 50% 50%;*/
    grid-template-columns: 30% 70%;
}

.calculator {
    display: grid;
    justify-items: center;
}

.calculator-text {
    text-align: center;
}

.calculator__select {
    border: 1px solid;
    border-radius: 5px;
    height: 25px;
    margin: 5px;
}

.calculator__input {
    display: grid;
    grid-template-columns: 75%;
    /*grid-auto-rows: 60% 60%;*/
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.size-value__text {
    border: 1px solid;
    border-radius: 5px;
    height: 25px;
    margin: 5px;
}

.output-drawing {
    background: green;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 10% 90%;
    justify-items: center;
    align-items: center;
}

.output-image {
    background: gold;
    display: grid;
    /*grid-template-columns: 30vmin;*/
    /*grid-template-rows: 30vmin;*/
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
}

.output-image__vertical {
    /*width: 100%;*/
    /*height: 100%;*/
    background: url("./image/vent.jpg");
    /*background-size: 100% 100%;*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
}

.output-image__horizontal {
    /*width: 100%;*/
    /*height: 100%;*/
    background: url("./image/vent.jpg");
    /*background-size: 100% 100%;*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
}

.output-value {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    border: 1px solid gold;
}

.output-value__icon {
    display: flex;
    /*grid-template-columns: repeat(3,1fr);*/
    align-items: center;
    justify-items: center;
}

[data-outputValue]{
    margin: 5px;
}

@media only screen and (max-width: 800px){
    .container-calculator{
        grid-template-rows: 2fr 1fr;
    }

    .container{
        grid-template-columns: 1fr;
    }

    .output-drawing {
        display: none;
    }

    .output-value {
        grid-template-columns: 1fr;
    }
}