@font-face {
    font-family: 'OpinionPro';
    src: url('./fonts/Opinionprolight.woff2') format('woff2'),
    url('./fonts/Opinionprolight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container-calculator {
    font-family: 'OpinionPro', Arial, sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: black;
}

.container-calculator {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 4fr 1fr;
    grid-template-rows: 4fr 1fr;
}

.calculator__select-container {
    display: -ms-grid;
    display: grid;
    justify-items: center;
}

.calculator__select {
    border: 1px solid;
    border-radius: 5px;
    height: 25px;
    margin: 5px;
    width: 30%;
}

.container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 35% 65%;
    grid-template-columns: 35% 65%;
}

.calculator {
    display: -ms-grid;
    display: grid;
    justify-items: center;
}

.calculator-text {
    text-align: center;
    font-weight: 700;
    font-size: 42px;
}

.calculator__input {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.size-value__text {
    border: 1px solid;
    border-radius: 5px;
    height: 25px;
    margin: 5px;
    width: 52%;
}

.output-drawing {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10% 90%;
    grid-template-columns: 10% 90%;
    -ms-grid-rows: 10% 90%;
    grid-template-rows: 10% 90%;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
}

.output-drawing > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.output-drawing > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

.output-drawing > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

.output-drawing > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
}

.output-image {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50%;
    grid-template-columns: 50%;
    -ms-grid-rows: 100%;
    grid-template-rows: 100%;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    text-align: center;
}

.output-image > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.output-image__image {
    width: 100%;
    height: 100%;
    background: url("./image/9.gif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-x: 50%;
    position: relative;
    -webkit-animation: rotate 1s 1s infinite linear;
    animation: rotate 1s 1s infinite linear;
}

.output-image__image--reverse {
    animation: rotate-reverse 1s 1s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

@keyframes rotate-reverse {
    from {
        transform: rotateZ(45deg);
    }

    to {
        transform: rotateZ(-315deg);
    }
}

.output-value {
    display: -ms-grid;
    display: grid;
    /*-ms-grid-columns: (1fr)[4];*/
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /*border: 1px solid gold;*/
}

.output-value__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
}

[data-outputValue] {
    margin: 5px;
    opacity: 1;
}

.animationChangeOutputValueText {
    animation: changeOutputValueText 1s linear ;
}

@keyframes changeOutputValueText {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 1080px) {
    .container-calculator {
        -ms-grid-rows: 2fr 1fr;
        grid-template-rows: 2fr 1fr;
    }

    .container {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .output-drawing {
        display: none;
    }

    .output-value {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-gap: 5px;
    }
}

.output-image__line-width {
    display: inline-block;
    vertical-align: middle;
    height: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 40px;
}

.output-image__line-width--left {
    background: url("./image/lineWidthtLeft.png");
    background-repeat: no-repeat;
    background-size: auto 10px;
    border-left: 1.5px solid black;
}

.output-image__line-width--right {
    background: url("./image/lineWidthtRight.png");
    background-repeat: no-repeat;
    background-size: auto 10px;
    border-right: 1.5px solid black;
    background-position-x: 100%;
}

.output-image__width {
    display: inline-block;
}

.output-image__line-height {
    width: 11px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 40px;
}

.output-image__line-height--up {
    background: url("./image/lineHeightUp.png");
    background-repeat: no-repeat;
    background-size: 11px;
    border-top: 1.5px solid black;
}

.output-image__line-height--down {
    background: url("./image/lineHeightUp.png");
    background-repeat: no-repeat;
    background-size: 11px;
    -webkit-transform: rotateZ(180deg);
    -ms-transform: rotate(180deg);
    transform: rotateZ(180deg);
    border-top: 1.5px solid black;
}

.container-line-height {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    position: relative;
}

.container-line-width {
    position: relative;
}

.output-image__message {
    display: none;
}

.input__row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 65% 30%;
    grid-template-columns: 65% 30%;
}

.input__change {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    align-items: center;
    justify-items: center;
}

.input__change > span {
    font-weight: 700;
    cursor: pointer;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
